body {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mainleft-width {
  width: 25%;
  background-color: #212121;
  min-height: 100%;
}

.mainright-width {
  width: 75%;
}
